// Colors
$main: #5ac1ed;
// $main-light: #4f3a65;
$main-dark: #03325e;
$main-dark-opacity: rgba($main-dark, 0.4);
$main-opacity: rgba($main, 0.2);
$light: #fafaff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;

$sitePadding: 36px;
